@import url('skeleton/skeleton.css');
@import url('./typography.css');

.logo-wrapper{
  width: 100px;
  margin: auto;
}

.logo-wrapper img{
  width: 100%;
}

nav{
  margin: 0 auto;
  text-align: center;
}
nav a{
  margin: 1em;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: grey;
}
.preview-clusters{
  height: 100vh;
  margin: 2em 0;
}
.image-cluster{
  position: relative;
}

img.preview-image{
  height: -webkit-fill-available;
  position: absolute;
}

#info-page .one-half{
  padding-left: 4em;
  padding-top: 4em;
}

.project-page{
  text-align: center;
}

.project-page img{
  margin: 2em;
  max-height: 100vh; 
}
