div.tabcontent#contact-page.row
  p.addresses Aul <br/>
    | Produkt- und Still Fotografie  <br/>
    | Nane Diehl, Stefan B&uuml;chner <br/><br/>
    |
    | Studio: <br/>
    | Malplaquetstraße 17 <br/>
    | 13347 Berlin <br/><br/>
    | 
    a(href="mailto:hello@aul-studio.de", target="_top") hello@aul-studio.de <br/>
    | 030 - 5360 6111 <br/><br/>
    |
    | Ust-Id: 95 748 031 022 <br/>

  h1 Add to Newsletter: 
  form#subscribeForm(action="/subscribe")
    input(type="text" placeholder="name" name="name")
    input(type="email" placeholder="email" name="email")
    input(type="submit" value="Subscribe")
    #confirmation You will hear from us soon ! 
  .disclaimer Haftungsausschluss (Disclaimer)
    span Haftung f&uuml;r Inhalte
    p Die Inhalte unserer Seiten wurden mit gr&ouml;ßter Sorgfalt erstellt. F&uuml;r die Richtigkeit, Vollst&auml;ndigkeit und Aktualit&auml;t der Inhalte k&ouml;nnen wir jedoch keine Gew&auml;hr &uuml;bernehmen. Als Diensteanbieter sind wir gem&auml;ß § 7 Abs.1 TMG f&uuml;r eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, &uuml;bermittelte oder gespeicherte fremde Informationen zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine rechtswidrige T&auml;tigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&ouml;glich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
    
    span Urheberrecht
    p Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bed&uuml;rfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur f&uuml;r den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.

    span Widerspruch Werbe-Mails
    p Der Nutzung von im Rahmen der Impressumspflicht ver&ouml;ffentlichten Kontaktdaten zur &uuml;bersendung von nicht ausdr&uuml;cklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der Seiten behalten sich ausdr&uuml;cklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-E-Mails, vor.

    span Newsletter-Daten
    p Wenn Sie den auf der Webseite angebotenen Newsletter beziehen m&ouml;chten, ben&ouml;tigen wir von Ihnen eine E- Mail-Adresse sowie Informationen, welche uns die &uuml;berpr&uuml;fung gestatten, dass Sie der Inhaber der angegebenen E-Mail-Adresse sind und mit dem Empfang des Newsletters einverstanden sind. Weitere Daten werden nicht erhoben. Diese Daten verwenden wir ausschließlich f&uuml;r den Versand der angeforderten Informationen und geben sie nicht an Dritte weiter. Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse sowie deren Nutzung zum Versand des Newsletters k&ouml;nnen Sie jederzeit widerrufen , etwa &uuml;ber den „Austragen“-Link im Newsletter.

  p © Aul Photography - Stefan B&uuml;chner, Nane Diehl. All photographs herein are copy-righted by Aul Studio, no part of this website or any of the content may be used or reproduced in any manner without the permission of the copyright holder.
  script(type='text/javascript', src='/scripts/contact.js')
