header
    .logo-wrapper
      img(src="../../Aul_Logo_web.jpg")
    nav
      a.tablink#defaultOpen(href="/#work" data-value="work") Work 
      a.tablink(href="/#info" data-value="info") Info 
      a.tablink(href="/#contact" data-value="contact") Contact 
    script(type='text/javascript', src='../scripts/nav.js')
